/*
selector {
	property: value;
}*/
h1 {
	color: #fff;
	background: #ea2e49;
	display: inline-block;
	margin-bottom: 1em;
	padding: 0.5em;
}
h4 {
	color: green;
}
li {
	color: #333;
	position: relative;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5em;
	padding: 0.5em 0;
}
.lineThrough {
	text-decoration: line-through;
}
html {
	background: #daede2;
	padding: 5%;
}
body {
	background: #77c4d3;
	font-family: "Open Sans Light", Helvetica, arial, sans-serif;
}
/*::-moz-selection {
	background: #333;
	color: #fff;
}*/
.hFonts {
	font-weight: 200;
}
/* Selectors that begin with '#' are paired with 
	html "id=" - may only appear on a page one time
#name {
	property: value;
}
*/