p {

/*Content - Width and Height*/

width: 50%;

/*Border*/

border: .15em solid blue;

/*Padding*/

/*padding: 10px; - Space between element and border */
padding-left: 2em;
padding-right: 2em;

/*Margin*/
/*margin: 100px;*/
/*margin-top: 500px;*/
/*margin: 20px 40px 500px 100px;*/
/*margin: 0 auto 0 auto;*/
/*margin: 0 auto;*/
/* Specifying all margin values: order is Top, Right, Bottom, Left*/
/*margin: 50px 20px;*/
/*margin: 0 2em;*/
margin: 2em auto;
/*Practice Font-family*/
font-family: 'Raleway', sans-serif;
}




