.flex {
	display: flex;
	flex-wrap: wrap;
}
body {
	padding-top: 70px;
}
.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}
.navbar-inverse {
	background: #2c3e50;
}
/* Use Inspector to find navbar specific anchor tags, then style that*/
.navbar-inverse .navbar-nav>li>a {
	color: white;
}
/* Also use inspector for navbar-brand selector*/
.navbar-inverse .navbar-brand {
	color: white;
}